/assets/components/*
!/assets/components/xaroform/
/connectors
/core/cache/
/core/components/*
/core/config/
/core/docs/
/core/error/
/core/export/
/core/import/
/core/lexicon/
/core/model/
/core/packages/
/core/web/
/core/xpdo/
!/core/components/xaroform/
/manager
/node_modules
/setup
/test
/config.core.php
/*.access
/*.php
/package-lock.json